.cinema{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f3d;
}

.cinemaMain{
    width: 100%;
    height: 88%;
}

@media screen and (min-height: 950px) {
    .cinemaMain{
        height: 93%;
    }
}