.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.registerFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 100%; 
}

.registerFormHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerFormTitle{
    font-size: 1.75rem;
    font-weight: 400;
}

.registerFormDetails{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.registerFormNames{
    display: flex;
    flex-direction: row;
}

.guidePassword{
    font-size: 12px;
}

.registerFormActions{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.registerFormCopyrights{
    color: gray;
    font-size: 0.875rem;
}